<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="shop-web-server-user">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="shop-web-user-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/shop-web-user/shop-web-user">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="shop-model-user-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/shop-model-user/shop-model-user">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="shop-service-api-user-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/shop-service-api-user/shop-service-api-user">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="shop-service-api-root-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/shop-service-api-root/shop-service-api-root">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="shop-framework-hessian-client-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/shop-framework-hessian-client/shop-framework-hessian-client">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="shop-web-server-user"/>
        <property name="java-output-path" value="/shop-web-server-user/target/classes"/>
    </wb-module>
</project-modules>
